body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
header{
    display: flex;
    width: 90%;
    height: 10vh;
    margin: auto;
    align-items: center;
}

.logo-container, .nav-links, .cart{
display:flex
}
.logo-container{
    margin: auto;
    height: 110px;
    flex:1
}
.logo{
font-weight: 400;
margin: 5px;
height: 20px;
}
nav{
flex: 3;
}
.nav-links{
    font-weight: 560;
    color: black;
    text-decoration: none;
    justify-content: space-around;
    list-style: none;
}
.nav-links{
    cursor: pointer;
    font-size: 100%;
    border:none;
    color: #22A39F;
    margin: 30px 0px 0px 80px;
    text-align: center;
}
.cart{
flex: 1;
justify-content: flex-end;
height: 30px;
}
.presentation{
display:flex;
width: 90%;
height: auto;
margin-left: 10px;
align-items: center;
margin-top: 20px;
height: auto;
margin-right: 10%;
margin: 10%;
}
.introduction{
    flex:1;
    left: 20px;
}
.intro-text h1{
    font-size: 44px;
    font-weight: 500;
    color: #22A39F
}
.intro-text p{
    margin-top: 5px;
    font-size: 22px;
    color: #F3EFE0;
}
.cta{
    padding: 50px 0px 0px 0px;
}
.cta-select{
    border: 2px solid #22A39F;
    background: transparent;
    color: #22A39F;
    width: 150px;
    height:50px;
    cursor: pointer;
    font-size: 16px;
}
.cta-add{
    background: #22A39F;
    width: 150px;
    height:50px;
    cursor: pointer;
    font-size: 16px;
    border:none;
    color: white;
    margin: 30px 0px 0px 30px;
}
.cover{
    flex:1;
    height: 60vh;
}
.cover img{
    height: 100%
}
.pic{
    position: absolute;
    top: 15%;
    right: 20%;
    height: 20px;
}
.color{
    position: absolute;
    top: 0%;
    left: 0%;
    bottom: 0%;
    width: auto;
    background-color: #222222;
    z-index: -1;
}
.mesamepp{
    position: absolute;
    background-color: #22A39F;
    width: 8px;
    height: 30%;
    border-radius: 0px;
    left: 90%;
    bottom: 0px;
}
.meotxepp{
    position: absolute;
    background-color: #222222;
    width: 8px;
    height: 40%;
    border-radius: 0px;
    left: 92%;
    bottom: 0px;
}
.mexutepp{
    position: absolute;
    background-color: #222222;
    width: 8px;
    height: 20%;
    border-radius: 0px;
    left: 42%;
    bottom: 0px;
}
.meeqvsepp{
    position: absolute;
    background-color: #22A39F;
    width: 8px;
    height: 40%;
    border-radius: 0px;
    left: 44%;
    bottom: 0px;
}
.meshvidepp{
    position: absolute;
    background-color: #22A39F;
    width: 8px;
    height: 13%;
    border-radius: 0px;
    left: 46%;
    bottom: 0px;
}
.burti{
    position: absolute;
    background-color: #22A39F;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    top: 41%;
    left: 78%;
}
.burti, .burti2, .burti3 {
    position: absolute;
    background-color: #22A39F;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.burti{
    top: 20px;
    left: 20px;
}
.burti2{
	left: 20px;
}
.burti3{
    top: 180px;
    left: 20px;
}
.burti1{
    position: absolute;
    background-color: #22A39F;
    bottom: 0px ;
    width: 8px;
    height: 40%;
}
.burti00{
    position: absolute;
    background-color: hsl(178, 65%, 39%);
    bottom: 0px ;
    width: 8px;
    height: 15%;
    left: 40px
}

@media screen and (min-width:  576px){
    .nav-links{
        margin: 15px;
    }
    .burti{
        top: 90px;
    }
    .burti2{
        top: 270px;
    }
    .pic{
        top: 962px;
        left: 17px;
    }
    .box{
        top: 1070px;
        left: 10px
    }
    .pp{
        top: 1210px;
        left: 425px;
    }
    .arvici{
        top: 1315px;
        left: 425px;
    }
    .meorepp{
        top: 1422px;
        left: 425px;
    }
    .burti00{
        height: 100px;
        bottom: 0%;
    }
    .burti1{
        height: 250px;
        bottom: 0%;
    }
    .mesamepp{
        height: 150px;
        bottom: 0%;
    }
    .meeqvsepp{
        height: 60px;
        bottom: 0;
    }
    .meotxepp{
        bottom: 0%;
    }
    .introduction{
        text-align: center;
        height: auto;
        margin-bottom: 0px;
        margin: 0px;
        margin-bottom: 120px;
        margin-right: -20px;
    }
    .cta-add{
        margin: 20px;
        margin-left: 20px;
    }
    .color{
        width: 80%;
        height: auto;
    }
}
@media screen and (max-width:  768px)
{
    .color{
        width: 80%;
    }
    .burti2{
        position: absolute;
        top: 100px;
    }
    .introduction{
        margin-bottom: 100px;
        text-align: center;
        margin-right: 590px;
    }
    .meeqvsepp{
        height: 20%;
    }
    .burti1{
        height: 20%
    }
    .nav-links{
        margin-right:  60%;
        display: flex;
        margin: 30px 30px 0px 0px;
    }
    .cta-add{
        margin: 10px;
    }
    .intro-text{
        margin: 60px;
        margin-bottom: 0px;
    }
    .introduction{
        margin-top: 100px;;
    }
    .meshvidepp{
        left: 50%;
    }
    .burti{
        top: 20px;
    }
}
flex-wrap
nowrap
.arvici-item:second-child{
	height: 200px;
}